<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eight.rj</key>
    <dict>
      <key>Seven.rj</key>
      <integer>30</integer>
      <key>public.kern2.LK_Gha</key>
      <integer>10</integer>
      <key>public.kern2.LK_NaDha</key>
      <integer>20</integer>
      <key>public.kern2.LK_Two</key>
      <integer>30</integer>
      <key>public.kern2._bracketright</key>
      <integer>-50</integer>
      <key>public.kern2._period</key>
      <integer>-60</integer>
    </dict>
    <key>Five.rj</key>
    <dict>
      <key>Four.rj</key>
      <integer>-30</integer>
      <key>One.rj</key>
      <integer>-90</integer>
      <key>Seven.rj</key>
      <integer>-50</integer>
      <key>Six.rj</key>
      <integer>-40</integer>
      <key>degree</key>
      <integer>-40</integer>
      <key>public.kern2._bracketright</key>
      <integer>-40</integer>
      <key>public.kern2._quoteright</key>
      <integer>-40</integer>
      <key>public.kern2._quotesingle</key>
      <integer>-60</integer>
    </dict>
    <key>Four.rj</key>
    <dict>
      <key>One.rj</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>degree</key>
      <integer>-15</integer>
      <key>public.kern2._bracketright</key>
      <integer>-20</integer>
      <key>public.kern2._quotesingle</key>
      <integer>-20</integer>
    </dict>
    <key>GaJaYa_alt_Aa.rj</key>
    <dict>
      <key>matraA_alt1c.rj</key>
      <integer>-20</integer>
    </dict>
    <key>Nine.rj</key>
    <dict>
      <key>One.rj</key>
      <integer>-50</integer>
      <key>Seven.rj</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-50</integer>
      <key>degree</key>
      <integer>-50</integer>
      <key>public.kern2._bracketright</key>
      <integer>-30</integer>
      <key>public.kern2._quoteleft</key>
      <integer>-40</integer>
      <key>public.kern2._quoteright</key>
      <integer>-35</integer>
      <key>public.kern2._quotesingle</key>
      <integer>-60</integer>
    </dict>
    <key>One.rj</key>
    <dict>
      <key>One.rj</key>
      <integer>-90</integer>
      <key>Seven.rj</key>
      <integer>-80</integer>
      <key>Zero.rj</key>
      <integer>-10</integer>
      <key>asterisk</key>
      <integer>-75</integer>
      <key>degree</key>
      <integer>-130</integer>
      <key>percent</key>
      <integer>-50</integer>
      <key>public.kern2._bracketright</key>
      <integer>-30</integer>
      <key>public.kern2._quoteleft</key>
      <integer>-80</integer>
      <key>public.kern2._quoteright</key>
      <integer>-100</integer>
      <key>public.kern2._quotesingle</key>
      <integer>-100</integer>
    </dict>
    <key>Three.rj</key>
    <dict>
      <key>One.rj</key>
      <integer>-20</integer>
    </dict>
    <key>Ttha.rj</key>
    <dict>
      <key>public.kern2.LK_NaDha</key>
      <integer>-10</integer>
    </dict>
    <key>Two.rj</key>
    <dict>
      <key>One.rj</key>
      <integer>-20</integer>
    </dict>
    <key>Zero.rj</key>
    <dict>
      <key>One.rj</key>
      <integer>-50</integer>
      <key>asterisk</key>
      <integer>-10</integer>
      <key>degree</key>
      <integer>-35</integer>
      <key>public.kern2._bracketright</key>
      <integer>-30</integer>
      <key>public.kern2._quoteright</key>
      <integer>-10</integer>
    </dict>
    <key>bullet</key>
    <dict>
      <key>One.rj</key>
      <integer>-50</integer>
    </dict>
    <key>degree</key>
    <dict>
      <key>Six.rj</key>
      <integer>-30</integer>
      <key>public.kern2.LK_Four</key>
      <integer>-20</integer>
    </dict>
    <key>divide</key>
    <dict>
      <key>One.rj</key>
      <integer>-80</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>One.rj</key>
      <integer>-80</integer>
    </dict>
    <key>matraE_alt1.rj</key>
    <dict>
      <key>RaKha.rj</key>
      <integer>30</integer>
    </dict>
    <key>matraE_alt1b.rj</key>
    <dict>
      <key>RaDha.rj</key>
      <integer>20</integer>
    </dict>
    <key>matraE_alt2.rj</key>
    <dict>
      <key>NnaNa.rj</key>
      <integer>20</integer>
      <key>ShaYa.rj.ss01</key>
      <integer>40</integer>
    </dict>
    <key>matraE_alt3.rj</key>
    <dict>
      <key>GaBa.rj</key>
      <integer>20</integer>
      <key>GaJaNya_alt_Aa.rj</key>
      <integer>20</integer>
      <key>GaVa.rj</key>
      <integer>20</integer>
      <key>ShaTa.rj.ss01</key>
      <integer>30</integer>
      <key>TthaYa.rj</key>
      <integer>-10</integer>
    </dict>
    <key>matraE_alt3b.rj</key>
    <dict>
      <key>DhaNaYa.rj</key>
      <integer>30</integer>
      <key>DhaRaYa.rj</key>
      <integer>30</integer>
    </dict>
    <key>matraE_alt4.rj</key>
    <dict>
      <key>GaDhaVa.rj</key>
      <integer>50</integer>
      <key>NyaCha.rj</key>
      <integer>20</integer>
      <key>NyaNya.rj</key>
      <integer>30</integer>
    </dict>
    <key>matraE_alt4b.rj</key>
    <dict>
      <key>NaDhaVa.rj</key>
      <integer>0</integer>
    </dict>
    <key>matraE_alt5b.rj</key>
    <dict>
      <key>NaDhaRaYa.rj</key>
      <integer>-20</integer>
      <key>public.kern2.LK_KaNaYa</key>
      <integer>20</integer>
    </dict>
    <key>multiply</key>
    <dict>
      <key>One.rj</key>
      <integer>-40</integer>
    </dict>
    <key>percent</key>
    <dict>
      <key>One.rj</key>
      <integer>-80</integer>
      <key>Seven.rj</key>
      <integer>-40</integer>
    </dict>
    <key>plus</key>
    <dict>
      <key>One.rj</key>
      <integer>-90</integer>
      <key>Seven.rj</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Danda</key>
    <dict>
      <key>Siddhi.rj</key>
      <integer>-20</integer>
      <key>public.kern2.Danda</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.RK_Danda</key>
    <dict>
      <key>One.rj</key>
      <integer>-10</integer>
      <key>public.kern2.LK_TaMaYa</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.RK_Dda</key>
    <dict>
      <key>Six.rj</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.RK_DdaKa</key>
    <dict>
      <key>NgaKha.rj</key>
      <integer>20</integer>
      <key>Zero.rj</key>
      <integer>-10</integer>
      <key>public.kern2.LK_Jha</key>
      <integer>-10</integer>
      <key>public.kern2.LK_KaMa</key>
      <integer>-10</integer>
      <key>public.kern2.LK_KhaTaYa</key>
      <integer>-20</integer>
      <key>public.kern2.LK_LaKa</key>
      <integer>-10</integer>
      <key>public.kern2.LK_NaDha</key>
      <integer>-30</integer>
      <key>public.kern2.LK_TaMaYa</key>
      <integer>-10</integer>
      <key>public.kern2.LK_Tta</key>
      <integer>-20</integer>
      <key>public.kern2.LK_Two</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.RK_Gha</key>
    <dict>
      <key>Nine.rj</key>
      <integer>5</integer>
      <key>matraA_alt2c.rj</key>
      <integer>3</integer>
      <key>matraA_alt2d.rj</key>
      <integer>-5</integer>
      <key>matraA_alt2e.rj</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.RK_Ha</key>
    <dict>
      <key>vowelU.rj</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.RK_HaMa</key>
    <dict>
      <key>Eight.rj</key>
      <integer>30</integer>
      <key>Zero.rj</key>
      <integer>-10</integer>
      <key>public.kern2.LK_HaNa</key>
      <integer>20</integer>
      <key>public.kern2.LK_KaMa</key>
      <integer>-30</integer>
      <key>public.kern2.LK_NaDha</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.RK_Pha</key>
    <dict>
      <key>public.kern2.LK_Ga</key>
      <integer>10</integer>
      <key>public.kern2.LK_Gha</key>
      <integer>10</integer>
      <key>public.kern2.LK_Na</key>
      <integer>5</integer>
      <key>public.kern2.LK_Tta</key>
      <integer>5</integer>
      <key>public.kern2.LK_vowelA</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.RK_Tta</key>
    <dict>
      <key>public.kern2.LK_Ca</key>
      <integer>20</integer>
      <key>public.kern2.LK_Dda</key>
      <integer>10</integer>
      <key>public.kern2.LK_Ga</key>
      <integer>5</integer>
      <key>public.kern2.LK_Na</key>
      <integer>20</integer>
      <key>public.kern2.LK_NaDha</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.RK_Ttha</key>
    <dict>
      <key>Dda.rj</key>
      <integer>-5</integer>
      <key>public.kern2.LK_Ca</key>
      <integer>-10</integer>
      <key>public.kern2.LK_Gha</key>
      <integer>-10</integer>
      <key>public.kern2.LK_Tta</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.RK_Two</key>
    <dict>
      <key>asterisk</key>
      <integer>-40</integer>
      <key>degree</key>
      <integer>-15</integer>
      <key>public.kern2._bracketright</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1._hyphen</key>
    <dict>
      <key>One.rj</key>
      <integer>-100</integer>
      <key>Seven.rj</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1._period</key>
    <dict>
      <key>One.rj</key>
      <integer>-80</integer>
      <key>Seven.rj</key>
      <integer>-70</integer>
      <key>Zero.rj</key>
      <integer>-20</integer>
      <key>public.kern2.LK_Two</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1._quoteleft</key>
    <dict>
      <key>Six.rj</key>
      <integer>-35</integer>
      <key>public.kern2.LK_Four</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1._quoteright</key>
    <dict>
      <key>Six.rj</key>
      <integer>-20</integer>
      <key>public.kern2.LK_Four</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1._quotesingle</key>
    <dict>
      <key>Six.rj</key>
      <integer>-55</integer>
      <key>public.kern2.LK_Four</key>
      <integer>-30</integer>
    </dict>
  </dict>
</plist>
